In [10]:
# 1 adding new column using df.assign()
import pandas as pd 
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df=df.drop(457)
def convert_height(height):
    feet,inches=map(int, height.split('-'))
    return feet* .3048 + inches*.0254
df=df.assign(height_in_meter=df['Height'].apply(convert_height))
df=df.assign(BMI=lambda x:x['Weight']/ (x['height_in_meter']**2))
display(df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,height_in_meter,BMI
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1.8796,50.949700
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1.9812,59.870271
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,1.9558,53.592619
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1.9558,48.364070
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,2.0828,53.249660
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,2.0828,53.941214
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,1.9050,55.937890
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,1.8542,52.064281
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,2.2098,52.424467
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2.1336,50.744149

In [13]:
# 2 Adding a Column Based on Conditional Logic Using df.assign()
import pandas as pd 
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df=df.assign(salary_tier=lambda x:['high' if Salary>5000000 else 'low' for Salary in x['Salary'] ])
display(df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,salary_tier
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,high
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,high
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,low
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,low
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,low
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,low
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,low
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,low
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,low
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,low

In [15]:
# 3 Selecting Rows and Columns Using df.loc()
import pandas as pd 
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
pg_players=df.loc[df['Position'] == 'PG', :]
display(pg_players)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
...,...,...,...,...,...,...,...,...,...
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0

In [19]:
# 4 Modifying Data Using df.loc()
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df.loc[df['College'] == 'Texas', 'Team'] = 'New Team'
display(df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,New Team,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# 5 Selecting Rows and Columns Using df.iloc()
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df.iloc[:5, :3]

            Name            Team  Number
0  Avery Bradley  Boston Celtics     0.0
1    Jae Crowder  Boston Celtics    99.0
2   John Holland  Boston Celtics    30.0
3    R.J. Hunter  Boston Celtics    28.0
4  Jonas Jerebko  Boston Celtics     8.0

In [28]:
# 6 Modifying Specific Cells Using df.iloc()
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
Salary_Column_Index=df.columns.get_loc('Salary')
df.iloc[2, Salary_Column_Index] = 10000000 
display(df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,10000000.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# 7 Dropping Rows Based on a Condition
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df.drop(df[df['Age'] < 24].index, inplace=True)
display(df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# 8  Dropping a Column Using drop()
import pandas as pd
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df.drop('College', axis=1, inplace=True)
display(df)

,Name,Team,Number,Position,Age,Height,Weight,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,5000000.0
...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:

# 9 Truncating the DataFrame Using truncate()
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df.truncate(after=9)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [4]:
# 10 Sorting the DataFrame Based on a Single Column
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df.sort_values(by='Salary', ascending=False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
109,Kobe Bryant,Los Angeles Lakers,24.0,SF,37.0,6-6,212.0,NaN,25000000.0
169,LeBron James,Cleveland Cavaliers,23.0,SF,31.0,6-8,250.0,NaN,22970500.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
251,Dwight Howard,Houston Rockets,12.0,C,30.0,6-11,265.0,NaN,22359364.0
339,Chris Bosh,Miami Heat,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
...,...,...,...,...,...,...,...,...,...
350,Briante Weber,Miami Heat,12.0,PG,23.0,6-2,165.0,Virginia Commonwealth,NaN
353,Dorell Wright,Miami Heat,11.0,SF,30.0,6-9,205.0,NaN,NaN
397,Axel Toupane,Denver Nuggets,6.0,SG,23.0,6-7,210.0,NaN,NaN
409,Greg Smith,Minnesota Timberwolves,4.0,PF,25.0,6-10,250.0,Fresno State,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# 11 Sorting the DataFrame by Multiple Columns
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df.sort_values(by=['Team', 'Salary'], ascending=[True, False])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
315,Paul Millsap,Atlanta Hawks,4.0,PF,31.0,6-8,246.0,Louisiana Tech,18671659.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
321,Tiago Splitter,Atlanta Hawks,11.0,C,31.0,6-11,245.0,NaN,9756250.0
323,Jeff Teague,Atlanta Hawks,0.0,PG,27.0,6-2,186.0,Wake Forest,8000000.0
314,Kyle Korver,Atlanta Hawks,26.0,SG,35.0,6-7,212.0,Creighton,5746479.0
...,...,...,...,...,...,...,...,...,...
380,Garrett Temple,Washington Wizards,17.0,SG,30.0,6-6,195.0,LSU,1100602.0
371,Jarell Eddie,Washington Wizards,8.0,SG,24.0,6-7,218.0,Virginia Tech,561716.0
374,JJ Hickson,Washington Wizards,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0
381,Marcus Thornton,Washington Wizards,15.0,SF,29.0,6-4,205.0,LSU,200600.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN