In [2]:
# 1 selection and slicing
import pandas as pd
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
print(df.head(10))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [5]:
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
columns=df.loc[:19,['Name','Team']]
print(columns)

                       Name            Team
0             Avery Bradley  Boston Celtics
1               Jae Crowder  Boston Celtics
2              John Holland  Boston Celtics
3               R.J. Hunter  Boston Celtics
4             Jonas Jerebko  Boston Celtics
5              Amir Johnson  Boston Celtics
6             Jordan Mickey  Boston Celtics
7              Kelly Olynyk  Boston Celtics
8              Terry Rozier  Boston Celtics
9              Marcus Smart  Boston Celtics
10          Jared Sullinger  Boston Celtics
11            Isaiah Thomas  Boston Celtics
12              Evan Turner  Boston Celtics
13              James Young  Boston Celtics
14             Tyler Zeller  Boston Celtics
15         Bojan Bogdanovic   Brooklyn Nets
16             Markel Brown   Brooklyn Nets
17          Wayne Ellington   Brooklyn Nets
18  Rondae Hollis-Jefferson   Brooklyn Nets
19             Jarrett Jack   Brooklyn Nets

In [2]:
import pandas as pd
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df['Team']=='Boston Celtics'

0       True
1       True
2       True
3       True
4       True
       ...
453    False
454    False
455    False
456    False
457    False
Name: Team, Length: 458, dtype: bool

In [6]:
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
player=df.loc[df['Team']=='Boston Celtics']
print(player)

               Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2      John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5      Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0

In [7]:
df.iloc[10:20]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0

In [10]:
# 2 adding deleting rows and columns
import pandas as pd 
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
df['experience'] = 2024 - df['Age']
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary  experience
0                Texas  7730337.0      1999.0
1            Marquette  6796117.0      1999.0
2    Boston University        NaN      1997.0
3        Georgia State  1148640.0      2002.0
4                  NaN  5000000.0      1995.0
..                 ...        ...         ...
453             Butler  2433333.0      1998.0
454                NaN   900000.0      2000.0
455                NaN  2900000.0      1998.0
456             Kansas   947276.0      1998.0
457                NaN        NaN         NaN

[458 rows x 10 columns]

In [17]:
droppeddf=df.drop(columns=['College'])
droppeddf

,Name,Team,Number,Position,Age,Height,Weight,Salary,experience
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,7730337.0,1999.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,6796117.0,1999.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,NaN,1997.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,1148640.0,2002.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,5000000.0,1995.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,2433333.0,1998.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,900000.0,2000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,2900000.0,1998.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,947276.0,1998.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
new_player=pd.DataFrame({'Name': ['player'], 'Team' : ['boston'], 'number' : [3], 'college':['ihrd']})
df=pd.concat([df,new_player], ignore_index=True)
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN
458         player          boston     NaN      NaN   NaN    NaN     NaN

               College     Salary  number college
0                Texas  7730337.0     NaN     NaN
1            Marquette  6796117.0     NaN     NaN
2    Boston University        NaN     NaN     NaN
3        Georgia State  1148640.0     NaN     NaN
4                  NaN  5000000.0     NaN     NaN
..                 ...        ...     ...     ...
454                NaN   900000.0     NaN     NaN
455                NaN  2900000.0     NaN     NaN
456             Kansas   947276.0     NaN     NaN
457                NaN        NaN     NaN     NaN
458                NaN        NaN     3.0    ihrd

[459 rows x 11 columns]

In [4]:
drop_row=df.drop(0)
drop_row

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# 3 boolean indexing and masking
import pandas as pd
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
high_salary=df[df['Salary']> 5000000]
print(high_salary.to_string())

                       Name                    Team  Number Position   Age Height  Weight             College      Salary
0             Avery Bradley          Boston Celtics     0.0       PG  25.0    6-2   180.0               Texas   7730337.0
1               Jae Crowder          Boston Celtics    99.0       SF  25.0    6-6   235.0           Marquette   6796117.0
5              Amir Johnson          Boston Celtics    90.0       PF  29.0    6-9   240.0                 NaN  12000000.0
11            Isaiah Thomas          Boston Celtics     4.0       PG  27.0    5-9   185.0          Washington   6912869.0
19             Jarrett Jack           Brooklyn Nets     2.0       PG  32.0    6-3   200.0        Georgia Tech   6300000.0
23              Brook Lopez           Brooklyn Nets    11.0        C  28.0    7-0   275.0            Stanford  19689000.0
29           Thaddeus Young           Brooklyn Nets    30.0       PF  27.0    6-8   221.0        Georgia Tech  11235955.0
30            Arron Afflalo         New York Knicks     4.0       SG  30.0    6-5   210.0                UCLA   8000000.0
33          Carmelo Anthony         New York Knicks     7.0       SF  32.0    6-8   240.0            Syracuse  22875000.0
34            Jose Calderon         New York Knicks     3.0       PG  34.0    6-3   200.0                 NaN   7402812.0
38              Robin Lopez         New York Knicks     8.0        C  28.0    7-0   255.0            Stanford  12650000.0
52              Carl Landry      Philadelphia 76ers     7.0       PF  32.0    6-9   248.0              Purdue   6500000.0
63          DeMarre Carroll         Toronto Raptors     5.0       SF  29.0    6-8   212.0            Missouri  13600000.0
64            DeMar DeRozan         Toronto Raptors    10.0       SG  26.0    6-7   220.0                 USC  10050000.0
66              Cory Joseph         Toronto Raptors     6.0       PG  24.0    6-3   190.0               Texas   7000000.0
67               Kyle Lowry         Toronto Raptors     7.0       PG  30.0    6-0   205.0           Villanova  12000000.0
69        Patrick Patterson         Toronto Raptors    54.0       PF  27.0    6-9   235.0            Kentucky   6268675.0
78             Andrew Bogut   Golden State Warriors    12.0        C  31.0    7-0   260.0                Utah  13800000.0
80            Stephen Curry   Golden State Warriors    30.0       PG  28.0    6-3   190.0            Davidson  11370786.0
82           Draymond Green   Golden State Warriors    23.0       PF  26.0    6-7   230.0      Michigan State  14260870.0
83           Andre Iguodala   Golden State Warriors     9.0       SF  32.0    6-6   215.0             Arizona  11710456.0
84         Shaun Livingston   Golden State Warriors    34.0       PG  30.0    6-7   192.0                 NaN   5543725.0
89            Klay Thompson   Golden State Warriors    11.0       SG  26.0    6-7   215.0    Washington State  15501000.0
93           Jamal Crawford    Los Angeles Clippers    11.0       SG  36.0    6-5   195.0            Michigan   5675000.0
95               Jeff Green    Los Angeles Clippers     8.0       SF  29.0    6-9   235.0          Georgetown   9650000.0
96            Blake Griffin    Los Angeles Clippers    32.0       PF  27.0   6-10   251.0            Oklahoma  18907726.0
98           DeAndre Jordan    Los Angeles Clippers     6.0        C  27.0   6-11   265.0           Texas A&M  19689000.0
100              Chris Paul    Los Angeles Clippers     3.0       PG  31.0    6-0   175.0         Wake Forest  21468695.0
103               JJ Redick    Los Angeles Clippers     4.0       SG  31.0    6-4   190.0                Duke   7085000.0
109             Kobe Bryant      Los Angeles Lakers    24.0       SF  37.0    6-6   212.0                 NaN  25000000.0
111             Roy Hibbert      Los Angeles Lakers    17.0        C  29.0    7-2   270.0          Georgetown  15592217.0
116        D'Angelo Russell      Los Angeles Lakers     1.0       PG  20.0    6-5   195.0          Ohio State   5103120.0
118          Louis Williams      Los Angeles Lakers    23.0       SG  29.0    6-1   175.0                 NaN   7000000.0
120              Nick Young      Los Angeles Lakers     0.0       SF  31.0    6-7   210.0                 USC   5219169.0
121            Eric Bledsoe            Phoenix Suns     2.0       PG  26.0    6-1   190.0            Kentucky  13500000.0
124          Tyson Chandler            Phoenix Suns     4.0        C  33.0    7-1   240.0                 NaN  13000000.0
127          Brandon Knight            Phoenix Suns     3.0       PG  24.0    6-3   189.0            Kentucky  13500000.0
132         Mirza Teletovic            Phoenix Suns    35.0       PF  30.0    6-9   242.0                 NaN   5500000.0
133             P.J. Tucker            Phoenix Suns    17.0       SF  31.0    6-6   245.0               Texas   5500000.0
138         Marco Belinelli        Sacramento Kings     3.0       SG  30.0    6-5   210.0                 NaN   6060606.0
142         Darren Collison        Sacramento Kings     7.0       PG  28.0    6-0   175.0                UCLA   5013559.0
143        DeMarcus Cousins        Sacramento Kings    15.0        C  25.0   6-11   270.0            Kentucky  15851950.0
146                Rudy Gay        Sacramento Kings     8.0       SF  29.0    6-8   230.0         Connecticut  12403101.0
147            Kosta Koufos        Sacramento Kings    41.0        C  27.0    7-0   265.0          Ohio State   7700000.0
150             Rajon Rondo        Sacramento Kings     9.0       PG  30.0    6-1   186.0            Kentucky   9500000.0
153            Jimmy Butler           Chicago Bulls    21.0       SG  26.0    6-7   220.0           Marquette  16407500.0
156               Pau Gasol           Chicago Bulls    16.0        C  35.0    7-0   250.0                 NaN   7448760.0
157              Taj Gibson           Chicago Bulls    22.0       PF  30.0    6-9   225.0                 USC   8500000.0
160          Nikola Mirotic           Chicago Bulls    44.0       PF  25.0   6-10   220.0                 NaN   5543725.0
162             Joakim Noah           Chicago Bulls    13.0        C  31.0   6-11   232.0             Florida  13400000.0
164            Derrick Rose           Chicago Bulls     1.0       PG  27.0    6-3   190.0             Memphis  20093064.0
167           Channing Frye     Cleveland Cavaliers     9.0       PF  33.0   6-11   255.0             Arizona   8193029.0
168            Kyrie Irving     Cleveland Cavaliers     2.0       PG  24.0    6-3   193.0                Duke  16407501.0
169            LeBron James     Cleveland Cavaliers    23.0       SF  31.0    6-8   250.0                 NaN  22970500.0
174              Kevin Love     Cleveland Cavaliers     0.0       PF  27.0   6-10   251.0                UCLA  19689000.0
177           Iman Shumpert     Cleveland Cavaliers     4.0       SG  25.0    6-5   220.0        Georgia Tech   8988765.0
179        Tristan Thompson     Cleveland Cavaliers    13.0        C  25.0    6-9   238.0               Texas  14260870.0
182             Aron Baynes         Detroit Pistons    12.0        C  29.0   6-10   260.0    Washington State   6500000.0
189           Tobias Harris         Detroit Pistons    34.0       SF  23.0    6-9   235.0           Tennessee  16000000.0
191          Reggie Jackson         Detroit Pistons     1.0       PG  26.0    6-3   208.0      Boston College  13913044.0
193             Jodie Meeks         Detroit Pistons    20.0       SG  28.0    6-4   210.0            Kentucky   6270000.0
198             Monta Ellis          Indiana Pacers    11.0       SG  30.0    6-3   185.0                 NaN  10300000.0
199             Paul George          Indiana Pacers    13.0       SF  26.0    6-9   220.0        Fresno State  17120106.0
200             George Hill          Indiana Pacers     3.0       PG  30.0    6-3   188.0               IUPUI   8000000.0
207          Rodney Stuckey          Indiana Pacers     2.0       PG  30.0    6-5   205.0  Eastern Washington   7000000.0
218               O.J. Mayo         Milwaukee Bucks     3.0       SG  28.0    6-5   210.0                 USC   8000000.0
219         Khris Middleton         Milwaukee Bucks    22.0       SG  24.0    6-8   234.0           Texas A&M  14700000.0
220             Greg Monroe         Milwaukee Bucks    15.0        C  26.0   6-11   265.0          Georgetown  16407500.0
223           Jabari Parker         Milwaukee Bucks    12.0       PF  21.0    6-8   250.0                Duke   5152440.0
225         Greivis Vasquez         Milwaukee Bucks    21.0       PG  29.0    6-6   217.0            Maryland   6600000.0
233         Wesley Matthews        Dallas Mavericks    23.0       SG  29.0    6-5   220.0           Marquette  16407500.0
236           Dirk Nowitzki        Dallas Mavericks    41.0       PF  37.0    7-0   245.0                 NaN   8333334.0
237           Zaza Pachulia        Dallas Mavericks    27.0        C  32.0   6-11   275.0                 NaN   5200000.0
238        Chandler Parsons        Dallas Mavericks    25.0       SF  27.0   6-10   230.0             Florida  15361500.0
241          Deron Williams        Dallas Mavericks     8.0       PG  31.0    6-3   200.0            Illinois   5378974.0
242            Trevor Ariza         Houston Rockets     1.0       SF  30.0    6-8   215.0                UCLA   8193030.0
244        Patrick Beverley         Houston Rockets     2.0       PG  27.0    6-1   185.0            Arkansas   6486486.0
245            Corey Brewer         Houston Rockets    33.0       SG  30.0    6-9   186.0             Florida   8229375.0
249            James Harden         Houston Rockets    13.0       SG  26.0    6-5   220.0       Arizona State  15756438.0
251           Dwight Howard         Houston Rockets    12.0        C  30.0   6-11   265.0                 NaN  22359364.0
258              Tony Allen       Memphis Grizzlies     9.0       SG  34.0    6-4   213.0      Oklahoma State   5158539.0
262             Mike Conley       Memphis Grizzlies    11.0       PG  28.0    6-1   175.0          Ohio State   9588426.0
265              Marc Gasol       Memphis Grizzlies    33.0        C  31.0    7-1   255.0                 NaN  19688000.0
271           Zach Randolph       Memphis Grizzlies    50.0       PF  34.0    6-9   260.0      Michigan State   9638555.0
272        Lance Stephenson       Memphis Grizzlies     1.0       SF  25.0    6-5   230.0          Cincinnati   9000000.0
274          Brandan Wright       Memphis Grizzlies    34.0       PF  28.0   6-10   210.0      North Carolina   5464000.0
276           Ryan Anderson    New Orleans Pelicans    33.0       PF  28.0   6-10   240.0          California   8500000.0
277               Omer Asik    New Orleans Pelicans     3.0        C  29.0    7-0   255.0                 NaN   9213483.0
281           Anthony Davis    New Orleans Pelicans    23.0       PF  23.0   6-10   253.0            Kentucky   7070730.0
285            Tyreke Evans    New Orleans Pelicans     1.0       SG  26.0    6-6   220.0             Memphis  10734586.0
288             Eric Gordon    New Orleans Pelicans    10.0       SG  27.0    6-4   215.0             Indiana  15514031.0
290            Jrue Holiday    New Orleans Pelicans    11.0       PG  25.0    6-4   205.0                UCLA  10595507.0
294       LaMarcus Aldridge       San Antonio Spurs    12.0       PF  30.0   6-11   240.0               Texas  19689000.0
297              Boris Diaw       San Antonio Spurs    33.0        C  34.0    6-8   250.0                 NaN   7500000.0
298              Tim Duncan       San Antonio Spurs    21.0        C  40.0   6-11   250.0         Wake Forest   5250000.0
300             Danny Green       San Antonio Spurs    14.0       SG  28.0    6-6   215.0      North Carolina  10000000.0
301           Kawhi Leonard       San Antonio Spurs     2.0       SF  24.0    6-7   230.0     San Diego State  16407500.0
306             Tony Parker       San Antonio Spurs     9.0       PG  34.0    6-2   185.0                 NaN  13437500.0
312              Al Horford           Atlanta Hawks    15.0        C  30.0   6-10   245.0             Florida  12000000.0
314             Kyle Korver           Atlanta Hawks    26.0       SG  35.0    6-7   212.0           Creighton   5746479.0
315            Paul Millsap           Atlanta Hawks     4.0       PF  31.0    6-8   246.0      Louisiana Tech  18671659.0
321          Tiago Splitter           Atlanta Hawks    11.0        C  31.0   6-11   245.0                 NaN   9756250.0
323             Jeff Teague           Atlanta Hawks     0.0       PG  27.0    6-2   186.0         Wake Forest   8000000.0
324           Nicolas Batum       Charlotte Hornets     5.0       SG  27.0    6-8   200.0                 NaN  13125306.0
329           Spencer Hawes       Charlotte Hornets     0.0       PF  28.0    7-1   245.0          Washington   6110034.0
330            Al Jefferson       Charlotte Hornets    25.0        C  31.0   6-10   289.0                 NaN  13500000.0
332  Michael Kidd-Gilchrist       Charlotte Hornets    14.0       SF  22.0    6-7   232.0            Kentucky   6331404.0
334            Courtney Lee       Charlotte Hornets     1.0       SG  30.0    6-5   200.0    Western Kentucky   5675000.0
336            Kemba Walker       Charlotte Hornets    15.0       PG  26.0    6-1   184.0         Connecticut  12000000.0
337         Marvin Williams       Charlotte Hornets     2.0       PF  29.0    6-9   237.0      North Carolina   7000000.0
339              Chris Bosh              Miami Heat     1.0       PF  32.0   6-11   235.0        Georgia Tech  22192730.0
340               Luol Deng              Miami Heat     9.0       SF  31.0    6-9   220.0                Duke  10151612.0
341            Goran Dragic              Miami Heat     7.0       PG  30.0    6-3   190.0                 NaN  14783000.0
346          Josh McRoberts              Miami Heat     4.0       PF  29.0   6-10   240.0                Duke   5543725.0
349             Dwyane Wade              Miami Heat     3.0       SG  34.0    6-4   220.0           Marquette  20000000.0
358          Ersan Ilyasova           Orlando Magic     7.0       PF  29.0   6-10   235.0                 NaN   7900000.0
359        Brandon Jennings           Orlando Magic    55.0       PG  26.0    6-1   169.0                 NaN   8344497.0
363          Victor Oladipo           Orlando Magic     5.0       SG  24.0    6-4   210.0             Indiana   5192520.0
366          Nikola Vucevic           Orlando Magic     9.0        C  25.0    7-0   260.0                 USC  11250000.0
369            Bradley Beal      Washington Wizards     3.0       SG  22.0    6-5   207.0             Florida   5694674.0
373           Marcin Gortat      Washington Wizards    13.0        C  32.0   6-11   240.0                 NaN  11217391.0
375            Nene Hilario      Washington Wizards    42.0        C  33.0   6-11   250.0                 NaN  13000000.0
376         Markieff Morris      Washington Wizards     5.0       PF  26.0   6-10   245.0              Kansas   8000000.0
382               John Wall      Washington Wizards     2.0       PG  25.0    6-4   195.0            Kentucky  15851950.0
386         Wilson Chandler          Denver Nuggets    21.0       SF  29.0    6-8   225.0              DePaul  10449438.0
387          Kenneth Faried          Denver Nuggets    35.0       PF  26.0    6-8   228.0      Morehead State  11235955.0
388        Danilo Gallinari          Denver Nuggets     8.0       SF  27.0   6-10   225.0                 NaN  14000000.0
400           Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0   6-11   240.0                 NaN   8500000.0
405          Nikola Pekovic  Minnesota Timberwolves    14.0        C  30.0   6-11   307.0                 NaN  12100000.0
407             Ricky Rubio  Minnesota Timberwolves     9.0       PG  25.0    6-4   194.0                 NaN  12700000.0
410      Karl-Anthony Towns  Minnesota Timberwolves    32.0        C  20.0    7-0   244.0            Kentucky   5703600.0
411          Andrew Wiggins  Minnesota Timberwolves    22.0       SG  21.0    6-8   199.0              Kansas   5758680.0
414            Kevin Durant   Oklahoma City Thunder    35.0       SF  27.0    6-9   240.0               Texas  20158622.0
417             Serge Ibaka   Oklahoma City Thunder     9.0       PF  26.0   6-10   245.0                 NaN  12250000.0
418             Enes Kanter   Oklahoma City Thunder    11.0        C  24.0   6-11   245.0            Kentucky  16407500.0
425            Dion Waiters   Oklahoma City Thunder     3.0       SG  24.0    6-4   220.0            Syracuse   5138430.0
426       Russell Westbrook   Oklahoma City Thunder     0.0       PG  27.0    6-3   200.0                UCLA  16744218.0
428         Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0    6-9   215.0         Wake Forest   8042895.0
431                Ed Davis  Portland Trail Blazers    17.0        C  27.0   6-10   240.0      North Carolina   6980802.0
433        Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0    6-5   215.0                Duke   6000000.0
434             Chris Kaman  Portland Trail Blazers    35.0        C  34.0    7-0   265.0    Central Michigan   5016000.0
444              Alec Burks               Utah Jazz    10.0       SG  24.0    6-6   214.0            Colorado   9463484.0
446          Derrick Favors               Utah Jazz    15.0       PF  24.0   6-10   265.0        Georgia Tech  12000000.0
448          Gordon Hayward               Utah Jazz    20.0       SF  26.0    6-8   226.0              Butler  15409570.0

In [2]:
# 4 creating series and dataframe
import pandas as pd
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
name_series=df["Name"]
print(name_series)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [6]:
new_df=df[df['Position'].isin(['SG','PG'])]
print(new_df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
8     Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9     Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
..             ...             ...     ...      ...   ...    ...     ...
444     Alec Burks       Utah Jazz    10.0       SG  24.0    6-6   214.0
445     Dante Exum       Utah Jazz    11.0       PG  20.0    6-6   190.0
449    Rodney Hood       Utah Jazz     5.0       SG  23.0    6-8   206.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0

               College     Salary
0                Texas  7730337.0
2    Boston University        NaN
3        Georgia State  1148640.0
8           Louisville  1824360.0
9       Oklahoma State  3431040.0
..                 ...        ...
444           Colorado  9463484.0
445                NaN  3777720.0
449               Duke  1348440.0
453             Butler  2433333.0
454                NaN   900000.0

[194 rows x 9 columns]

In [17]:
# 5 locating specific columns and rows
df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
jj=df[df['Name']=='Jonas Jerebko']
print(jj)

            Name            Team  Number Position   Age Height  Weight  \
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

  College     Salary
4     NaN  5000000.0

In [18]:
loc=df.loc[df['Age']>25 ,['Name','Salary']]
print(loc)

              Name      Salary
2     John Holland         NaN
4    Jonas Jerebko   5000000.0
5     Amir Johnson  12000000.0
11   Isaiah Thomas   6912869.0
12     Evan Turner   3425510.0
..             ...         ...
450     Joe Ingles   2050000.0
451  Chris Johnson    981348.0
453   Shelvin Mack   2433333.0
455   Tibor Pleiss   2900000.0
456    Jeff Withey    947276.0

[258 rows x 2 columns]

In [20]:
df2=df.iloc[:51, 5:7:1]
display(df2)

   Height  Weight
0     6-2   180.0
1     6-6   235.0
2     6-5   205.0
3     6-5   185.0
4    6-10   231.0
5     6-9   240.0
6     6-8   235.0
7     7-0   238.0
8     6-2   190.0
9     6-4   220.0
10    6-9   260.0
11    5-9   185.0
12    6-7   220.0
13    6-6   215.0
14    7-0   253.0
15    6-8   216.0
16    6-3   190.0
17    6-4   200.0
18    6-7   220.0
19    6-3   200.0
20    6-7   208.0
21    6-4   219.0
22   5-11   175.0
23    7-0   275.0
24   6-11   200.0
25   6-10   220.0
26   6-10   237.0
27   6-10   248.0
28    6-3   205.0
29    6-8   221.0
30    6-5   210.0
31    6-9   220.0
32    6-7   205.0
33    6-8   240.0
34    6-3   200.0
35    6-8   210.0
36    6-2   200.0
37    6-4   195.0
38    7-0   255.0
39   6-10   250.0
40    7-3   240.0
41   6-10   278.0
42    6-8   235.0
43    6-7   195.0
44    6-8   240.0
45    6-6   205.0
46    6-9   254.0
47    6-0   201.0
48    6-9   215.0
49    7-0   250.0
50    6-8   210.0

In [2]:
# 6 data cleaning
import pandas as pd

df=pd.read_csv("C:/Users/anant/Downloads/task/nba (1).csv")
empty_salary=df[df['Salary'].isna()]
display(empty_salary)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
46,Elton Brand,Philadelphia 76ers,42.0,PF,37.0,6-9,254.0,Duke,NaN
171,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,NaN
264,Jordan Farmar,Memphis Grizzlies,4.0,PG,29.0,6-2,180.0,UCLA,NaN
269,Ray McCallum,Memphis Grizzlies,5.0,PG,24.0,6-3,190.0,Detroit,NaN
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
273,Alex Stepheson,Memphis Grizzlies,35.0,PF,28.0,6-10,270.0,USC,NaN
350,Briante Weber,Miami Heat,12.0,PG,23.0,6-2,165.0,Virginia Commonwealth,NaN
353,Dorell Wright,Miami Heat,11.0,SF,30.0,6-9,205.0,NaN,NaN
397,Axel Toupane,Denver Nuggets,6.0,SG,23.0,6-7,210.0,NaN,NaN
409,Greg Smith,Minnesota Timberwolves,4.0,PF,25.0,6-10,250.0,Fresno State,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
x=df['Salary'].mean()
df['Salary'].fillna(x, inplace=True)
display(df)

C:\Users\anant\AppData\Local\Temp\ipykernel_43964\613789074.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(x, inplace=True)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5.000000e+06
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2.433333e+06
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,9.000000e+05
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2.900000e+06
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,9.472760e+05
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.842684e+06

In [4]:
df.dropna(inplace=True)
display(df.to_string)

<bound method DataFrame.to_string of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
6    Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
..             ...             ...     ...      ...   ...    ...     ...
449    Rodney Hood       Utah Jazz     5.0       SG  23.0    6-8   206.0
451  Chris Johnson       Utah Jazz    23.0       SF  26.0    6-6   206.0
452     Trey Lyles       Utah Jazz    41.0       PF  20.0   6-10   234.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0

               College        Salary
0                Texas  7.730337e+06
1            Marquette  6.796117e+06
2    Boston University  4.842684e+06
3        Georgia State  1.148640e+06
6                  LSU  1.170960e+06
..                 ...           ...
449               Duke  1.348440e+06
451             Dayton  9.813480e+05
452           Kentucky  2.239800e+06
453             Butler  2.433333e+06
456             Kansas  9.472760e+05

[373 rows x 9 columns]>

In [10]:
df['Height']=df['Height'].astype(float)

ValueError: could not convert string to float: '6-2'